:root {
  --accident-0: hsl(0, 100%, 100%);
  --accident-1: hsl(0, 100%, 90%);
  --accident-2: hsl(0, 100%, 80%);
  --accident-3: hsl(0, 100%, 70%);
  --accident-4: hsl(0, 100%, 60%);
  --accident-5: hsl(0, 100%, 50%);
  --accident-6: hsl(0, 100%, 50%);
  --accident-7: hsl(0, 100%, 40%);
  --accident-null: hsl(0, 0%, 30%);
  --region-disabled: hsl(0, 0%, 75%);
  --map-stroke: hsl(0, 0%, 70%);
  --map-bg-color: hsl(0, 0%, 95%);
  --region-hover-bg: hsl(123, 100%, 57%);
  --region-hover-border: hsl(122, 100%, 28%);
  --chart-line-color: hsl(0, 0%, 70%);
  --chart-text-color: hsl(0, 0%, 40%);
  --chart-text-color-alt: hsl(0, 0%, 90%);
  --input-background-color: hsl(0, 0%, 95%);
  --input-border-color: hsl(0, 0%, 50%);
  --input-background-hover-color: hsl(110, 100%, 90%);
  --input-border-hover-color: hsl(109, 100%, 35%);
  --transition-time: 0.2s;
  --button-color-default: hsl(109, 98%, 25%);
  --button-color-del: hsl(0, 100%, 40%);
  --invalid-color-border: #ff0000;
  --invalid-color-bg: #ffe2e2;
}

body {
  padding: 0px;
  margin: 0px;
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
  width: min-content;
  height: min-content;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input:invalid {
  border: 1px solid var(--invalid-color-border);
  background-color: var(--invalid-color-bg);
}

.App {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 4rem 2rem;
}

.map-section > * {
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.map-container {
  padding: 1rem;
  background-color: var(--map-bg-color);
}

.county {
  cursor: pointer;
  transition: 0.25s;
  stroke: var(--map-stroke);
  stroke-width: 1px;
}

.county:hover, .county.selected {
  fill: var(--region-hover-bg);
  stroke: var(--region-hover-border);
  transition: 0.25s;
}

.county.disabled {
  cursor: default;
  fill: var(--region-disabled);
  stroke: var(--map-stroke);
}

.popover {
  background-color: white;
  border: 1px solid black;
  border-radius: 0.5rem;
  padding: 1rem;
}

.popover > *:not(:last-child) {
  margin-bottom: 1rem;
}

.text-centered {
  text-align: center;
}

.bar-chart line {
  stroke: var(--chart-line-color);
}

.bar-chart text {
  fill: var(--chart-text-color);
}

.bar-chart rect {
  fill: var(--accident-4);
}

.bar-chart .rect-text {
  fill: var(--chart-text-color-alt);
}

.input:not([type=file]) {
  display: inline-block;
  position: relative;
  top: 0;
  width: 100%;
  background-color: var(--input-background-color);
  border: 1px solid var(--input-border-color);
  border-radius: 2rem;
  padding: 0.4rem 1rem;
  font-size: 1rem;
  transition: 0.25s;
}

.input:not([type=input], [type=file]):focus, 
.input:not([type=input], [type=file]):hover {
  border: 1px solid var(--input-border-hover-color);
  background-color: var(--input-background-hover-color);
  transition: 0.25s;
  outline: none;
}

.label {
  display: inline-block;
  font-size: 1rem;
  padding-left: 1rem;
}

.label > * {
  margin-top: 2px;
  margin-left: -1rem;
}

.button {
  cursor: pointer;
  border: none;
  box-shadow: 1px 1px 0px 1px hsl(0, 0%, 20%);
  background-color: var(--button-color-default);
}

.button.icon {
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  padding: 0.25rem;
  transition: var(--transition-time);
}

.button.del {
  background-color: var(--button-color-del);
}

.button:hover {
  filter: brightness(1.15);
  scale: 1.05;
  transition: var(--transition-time);
}

.filters-bar {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.frequency-filters > *:not(:last-child) {
  margin-right: 1rem;
}

@media only screen and (max-width: 600px) {
  .App {
    gap: 2rem;
    padding: 1rem;
  }
}